@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GitHub Action by Irfan Khan --</h1>
    <p>Class Assignment</p>
    <p>Student ID - 500224028</p>
</div>
