@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Action Application  --</h1>
    <p>Class Assignment</p>
    <p>Harsimran Kaur</p>
    <p>Student ID - 500234966</p>
</div>
